<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <pre>
    Session:
    {% for k, v in session.items() %}
    {{ k }} : {{ v }}
    {% endfor %}
  </pre>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.breed.label }}
    {{ form.breed }}
    {{ form.tomcat.label }}
    {{ form.tomcat }}
    {{ form.mood.label }}
    {{ form.mood }}
    {{ form.food_choice.label }}
    {{ form.food_choice }}
    {{ form.when_is_this.label }}
    {{ form.when_is_this }}
    {{ form.feedback.label }}
    {{ form.feedback }}
    {{ form.submit }}
  </form>
</body>
</html>